$fontFamily: 'Titillium Web', sans-serif;

// Common colors
$white: #fff;
$black: #000;
$gray1: #565655;
$gray2: #b1b2b2;
$gray3: #d9dada;
$gray4: #ececec;

// Brand Colors
$green: #32ae99;
$darkGreen: #248272;
$mediumGreen: #35b3a4;
$turquoise: #46daff;
$purple: #32ae99;
$yellow: #f5d14f;

// Font Weight Colors
$lightFontWeight: 300;
$normalFontWeight: 400;
$mediumFontWeight: 500;
$semiBoldFontWeight: 600;
$boldFontWeight: 700;
